body{
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/fundo.jpg);
    font-family: Arial, Helvetica, sans-serif;

    background-repeat: no-repeat;
    background-size: cover;
}

input{
    height:  50px;
    width: 100%;

    margin-bottom: 10px;
    padding-left: 10px;

    background-color: rgb(50, 50, 50);
    color: white;

    border: none;
    border-radius: 5px;
}
button{
    height: 50px;
    width: 100%;

    margin-top: 20px;

    background-color: red;
    color: white;

    border-radius: 5px;
    border: none;

    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: rgb(128, 0, 0);
    transform: scale(1.02);
    
}
.container{
    height: 80%;

    display: flex;

    justify-content: center;
    align-items: center;
}
.login{
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
    width: 300px;

    border-radius: 15px;

    padding: 50px;
}
h1{
    color: white
}

img{
    width: 200px;
}

.help{
    margin-top: 10px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkbox{
    height: 10px;
    width: 10px;
    padding: 0px;
    margin: 0px;

    cursor: pointer;
}
.lembrar-se{
    display: flex;

    align-items: center;
}
a{
    text-decoration: none;
    color:white;
}